/*
*{
    background-color: blue;
}
*/

.cuadro{
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    border: 1px solid red;
    border-radius: 10px;
}

#forma{
    width: 100px;
    height: 100px;
    background-color: black;
}

.color{
    background-color: aquamarine;
}

.color{
    background-color: blue;
}

.color{
    background-color: blueviolet;
}

.color-texto{
    color: rgb(226, 158, 109);
    background-color: crimson;
}
